#center .goog-image {
    display: block;
    padding-top: 109px;
    padding-bottom: 25px;
    margin: auto;
}

.search {
    display: block;
    width: 400px;
    height: 30px;
    margin: auto;
}

.left-b {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: 700;
    height: 28px;
    line-height: 27px;
    color: white;
    background: red;
    display: inline-block;
    margin-left: 36.5%;
}

.right-b {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: 700;
    height: 28px;
    line-height: 27px;
    color: white;
    background: green;
    display: inline-block;
}

