#topnav {
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: right;
}

.link {   
    display: inline;
    padding: 8px;
    background-color: #dddddd;
}

.goog-image {
    display: block;
    padding-top: 109px;
    padding-bottom: 25px;
    margin: auto;
}

.search {
    display: block;
    width: 400px;
    height: 30px;
    margin: auto;
}

.left-b {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: 700;
    height: 28px;
    line-height: 27px;
    color: grey;
    background: #f8f8f8;
    display: inline-block;
    margin-left: 36.5%;
    margin-right: 4px;
}

.right-b {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: 700;
    height: 28px;
    line-height: 27px;
    color: grey;
    background: #f8f8f8;
    display: inline-block;
    margin-right: 4px;
}